
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');
/*Overall Style*/
body {
    display: flex;
    font-family: "Protest Riot", sans-serif;
}

/* Header Style*/
header {
    align-content:center;
    border: 2px solid green;
    box-shadow:0 1px 1px darkgreen;
}