
/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Protest+Strike&display=swap');
/*Overall Style*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: "Protest Strike", sans-serif;
    flex-direction: column;
    color: darkgreen;
}

a {
    text-decoration: none;
    color: darkgreen;
}

ul {
    list-style-type: none;
}

/* Header Style*/
header {
    align-content: center;
    border: 2px solid darkgreen;
    width: 100%;
    height: 150px;
    position: fixed;
    display: flex;
    z-index: 20;
    background-color: antiquewhite;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    
}

h1 {
    align-self: center;
    font-size: 360%;
    
 }


#menu-bar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 150%;
    padding-bottom: 20px;
      
}

/*Shows Active Link Page*/
.currentpage {
    background-color: darkgreen;
    color:antiquewhite;
    border-radius: 25% 10%;
    padding: 5px;
}

/*Home Page -- Main Relax Area*/
#main-relax {
    background-image: url("https://reltoom.github.io/Project-1-Relax/assets/images/mainbackground.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

/*Main Content Area*/
main {
    display: flex;
    margin-top: 150px;
    width: 100%;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: space-around;
    
}

h2, h3 {
    display: flex;
    justify-content: center;
    font-size: 200%;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

/*Benefits of Yoga Styling*/
.benefits-text {
    text-align: center;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 160%;
    background-color:antiquewhite;
    border-radius: 10% 25%;
    padding: 10px;
}

/* Types of ... layout*/
.types {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
}


.types {
    font-size: 150%;
    text-align: center;
}

.description-type {
    max-width: 300px;
    padding: 15px;
    font-size: 70%;
    background-color: antiquewhite;
    border-radius: 10% 25%;
    padding: 10px;
}


/* Section-Yoga Positions */

img {
    max-width: auto;
    height: 300px;
    
}

.descriptionimage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;

}

.description {
    max-width: 100%;
    font-family: "Protest Riot", sans-serif;
    
}

.names {
    font-size: 150%;
    margin: 20px 70px;
    background-color: antiquewhite;
    border-radius: 10% 25%;
    padding: 10px;
}




/*Newsletter Signup Form*/
#signup-img {
    background-image: url("https://reltoom.github.io/Project-1-Relax/assets/images/signupform.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    margin-left: auto;
    margin-right: auto;
}

#signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
    align-items: center;

}

#newsletter-heading {
    width: 40%;
    text-align: center;
    background-color: antiquewhite;
    color: darkgreen;
    border-radius: 10% 25%;
    padding: 10px;
}

label {
    padding-top: 10px;
    padding-bottom: 10px;
    color: darkgreen;
}

input {
    border-radius: 10% 15%;
}

textarea {
    text-align: center;
    margin-bottom: 10px;
    border-radius: 10% 15%;
}
        
button {
    font-weight: bold;
    padding: 5px;
    background-color: darkgreen;
    color: antiquewhite;
    border-radius: 25% 10%;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/*Footer Area*/

footer {
    width: 100%;
    background-color: antiquewhite;
}

#social-media {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 150%;
}

/* Media Queries for phones up to 600px*/

@media screen and (max-width: 600px) {
  /*  Header Area*/

    header {
       flex-direction: row-reverse; 
    }

    main {
        text-align: center;
    }
    h1 {
        font-size: 150%;
        width: 75%;
        text-align: center;
        align-self:baseline;
    }

    /*  Menu-bar Toggle*/

    nav {
        background-color: antiquewhite;
        width: 100%;
        display: none;
        font-size: 50%;
        padding: 2px;   
    }

    #dropdown-menu:checked ~ nav {
        display: block;
    }

    #dropdown-menu {
        display: none;
    }

    .menu-label {
        font-size: 3rem;
    }

    #menu-bar {
        flex-direction: column; 
        height: 150px;
        justify-content: stretch;
        justify-content: space-evenly;
    }

    /*  Main Content Area */

    .benefits-home {
        text-align: center;
        color: darkgreen;
        background-color: antiquewhite;
        opacity: 0.8;
        border-radius: 25% 10%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
    }
    .benefits-text {


    }
    /* Yoga Positions Area*/
    .names {
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    .descriptionimage {
        display: flex;
        flex-flow: row wrap;
        font-size: 80%;
        padding: 0px;
        margin: 0px;
    }
    .description {
        width: 95%;
    }

    img {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 100%;
        border-radius: 10% 25%;
    }

    /*Newsletter Sign Up Formatting*/
    #signup-form {
        font-size: 60%;
    }

    #signup-img {
        background-image: url("https://reltoom.github.io/Project-1-Relax/assets/images/signupsmall.png");
        background-repeat: no-repeat;
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center center;
    }

    #newsletter-heading {
        font-size: 170%;
        width:70%;
    }
}


@media screen and (min-width: 601px) {

    #dropdown-menu {
        visibility: hidden;
    }
    
    .menu-label {
        visibility: hidden;
    }

    #main-relax {
        font-size: 220%;
    }

    .benefits-home {
        text-align: center;
        color: darkgreen;
        background-color: antiquewhite;
        opacity: 0.8;
        border-radius: 25% 10%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
    }
    .names {
        padding: 20px;
    }
    .description {
        padding: 10px;
    }
}